mixin footer(data)
  footer.footer
    .footer__text 
      p ООО "ВИСТА" ОГРН: 1063411015124 ИНН: 1905439125
      p Телефон службы поддержки 8-800-5555638.
        br
        | Стоимость услуги для абонентов Билайн: 300,00 рублей (включая НДС) раз в 3 дня. Для отмены подписки отправьте СМС-сообщение с текстом СТОП. Для абонентов Билайн - на номер 9105 (бесплатно). Подписка и пробный период не предоставляются для абонентов МТС, Мегафон, Теле2 и других операторов. Для получения доступа к сайту абонентам необходимо отправить ответное СМС сообщение на МО номер 2855. Стоимость для абонентов МТС - 203,20 руб., для абонентов Tele2 - 236 руб., для абонентов МегаФон - 200 руб., остальные операторы - около 200 руб. Стоимость указана с НДС. Для получения услуги необходимо отправить 3 смс. Стоимость доступа к услугам контент-провайдера устанавливается Вашим оператором. Подробную информацию можно узнать: - в разделе «Услуги по коротким номерам» на сайте www.mts.ru или обратившись в контактный центр по телефону 8 800 333 0890 (0890 для абонентов МТС).
        br
        | Вход для зарегистрированных   Управление подпиской   Правила подписки   Обратная связь   Пожаловаться на спам (AntiSpam)