mixin fat()
  .fat
    .fat-item
      .fat-item__img
        img(src="%=static=%images/assets/fat/fat-1.png" alt="")
      .fat-item__text Мечтаете о красивой фигуре?

    .fat-item
      .fat-item__img
        img(src="%=static=%images/assets/fat/fat-2.png" alt="")
      .fat-item__text Прочитали много книг, но не нашли решения своей проблеммы?

    .fat-item
      .fat-item__img
        img(src="%=static=%images/assets/fat/fat-3.png" alt="")
      .fat-item__text Мы поможем вам составить правильную диету...

    .fat-item
      .fat-item__img
        img(src="%=static=%images/assets/fat/fat-4.png" alt="")
      .fat-item__text Результат на заставит себя долго ждать!

