mixin about
  .about
    .about__wrapper
      .about__title О диете:

      ul.list
        li 
          strong Никакого переедания! 
          | С помощью нашей диеты Вы избавитесь от тяжести в животе, обретете чувство легкости и комфорта.

        li 
          strong Никаких подсчетов калорий! 
          | Вы забудете про такие понятия, как калорийность еды, количество белков жиров и углеводов в пище.

        li 
          strong Никаких отказов от Ваших любимых блюд! 
          | С помощью нашей диеты Вы сможете, есть все, даже сладкое, нужно всего лишь знать время приема пищи.

        li 
          strong Никакого чувства голода! 
          | Диеты помогут Вам преодолеть зависимость от постоянного чувства недоедания.

        li Станете привлекательной и стройной! 
          | С помощью очень простых правил соблюдения диеты Ваша жизнь изменится к лучшему!
